@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
   /* background-color: rgb(255, 222, 171); */
   background: none;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: relative;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 32px;
}

@media (max-width: 699px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        border-radius: 10px;
        position: fixed;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 92vh;
        background: #fc8422;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX((50px));
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-image: radial-gradient( rgb(255, 175, 25), #fc8422);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-left: 15%;
    padding: 2rem 4rem;
}

#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 51px;
    box-shadow:  50px 50px 100px #1d1d1d11, -50px -50px 100px #75757510;
}

#cadastro h1 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

#cadastro p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

input {
    margin: 10px;
    height: 45px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(37, 37, 37, 0.308);
} 

input:hover {
    border-style: double;
    border-color: orange;
}

.nome {
    height: 20px;    
}

#enviar {
    display: flex;
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: #fc8422;
    margin: auto;
    box-shadow: none;
}

#enviar:hover {
    border: none;
    background-color: #ff8a2b;
    transition: all ease 0.5s;
}

#logo {
    height: 80px;
}

.container #home-title {
    font-size: 70px;
    text-align: center;
    color: white;
}

.home-button {
    width: 200px;
    height: 45px;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    color: white;
    background-color: #fc8422;
    margin: auto;
    box-shadow: none;
}

.home-button a {
    color: white;
    text-align: center;
}

.container button {
    margin: 0.3rem;
}

button {
    border-style: none;
}

.home-title {
    margin-bottom: 20px;
    color: white;
}

.container{
    margin-right: 70px;
}

.lab1 {
    float: left;

}

.lab2 {
    display: table-caption;
}

#anterior {
   margin-top: 20px;
   margin-right: 80px;
}

.anterior {
    margin-left: 140px;
}


#Confirmtx{
    text-align: center;
    color: white;
}

#og{
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 51px;
    box-shadow:  50px 50px 100px #1d1d1d11, -50px -50px 100px #75757510;
        }