@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
   /* background-color: rgb(255, 222, 171); */
   background: none;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: relative;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 32px;
}

@media (max-width: 699px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        border-radius: 10px;
        position: fixed;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 92vh;
        background: #fc8422;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX((50px));
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-image: radial-gradient( rgb(255, 175, 25), #fc8422);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-left: 15%;
    padding: 2rem 4rem;
}

.sohome {
    background-color: rgba(0,0, 0, 0);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    color: white;
    text-align: center;
}

#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 51px;
    box-shadow:  50px 50px 100px #1d1d1d11, -50px -50px 100px #75757510;
    margin-top: 30px;
}

#sohome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 51px;
    box-shadow:  50px 50px 100px #1d1d1d11, -50px -50px 100px #75757510;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#cadastro h1 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

#sohome h1 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

#cadastro p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#sohome p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

input {
    margin: 10px;
    height: 45px;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(37, 37, 37, 0.308);
} 

input:hover {
    border-style: double;
    border-color: orange;
}

.nome {
    height: 20px;    
}

#enviar {
    display: flex;
    width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: #fc8422;
    margin: auto;
    box-shadow: none;
}

#enviar:hover {
    border: none;
    background-color: #ff8a2b;
    transition: all ease 0.5s;
}

#logo {
    height: 80px;
}

.sohome #home-title {
    font-size: 60px;
    text-align: center;
    color: white;
}

.home-button {
    width: 200px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    color: white;
    background-color: #fc8422;
    margin: auto;
    box-shadow: none;
}

.home-button a {
    color: white;
    text-align: center;
}

.container button {
    margin: 0.3rem;
}

.sohome button {
    margin: 0.3rem;
}

button {
    border-style: none;
}

.home-title {
    margin-bottom: 20px;
    color: white;
}

.container{
    margin-right: 70px;
}

.sohome{
    text-align: center;
}

.lab1 {
    float: left;

}

.lab2 {
    display: table-caption;
}

#anterior {
   margin-top: 20px;
   margin-right: 80px;
}

.anterior {
    margin-left: 140px;
}


#Confirmtx{
    text-align: center;
    color: white;
    margin-bottom: 15px;
}

#og{
    color: white;
    margin-right: 20px;
    margin: 0;
    margin-bottom: 20px;
}

#og2 {
    color: #ffffff;
}

#og3 {
    margin-bottom: 15px;
}

#ogp{
    color: white;
    margin-right: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.002);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 51px;
    box-shadow:  50px 50px 100px #1d1d1d20, -50px -50px 100px #75757522;
    color: white;
    }

    #email2 {
        color: white;
        margin-bottom: 20px;
        margin-right: 10px;
        font-size: 19px;
    }

    #voltar {
        margin-top: 25px;
    }

#user {
    width: 150px;
    height: 150px;
    filter: (white);
    margin-bottom: 20px;
}

#pedidos {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pedido {
    margin: 10px;
}

.pedido p {
    color: white;
    font-size: 20px;
    text-align: center;
}

.container h2 {
    font-size: 20px;
    font-weight: 550;
    margin-top: 10px;
}

#divisao {
    background-color: white;
    width: 2px;
}

#bmv {
    margin-bottom: 20px;
}

nav {
    margin: 20px;
}

#logo {
    width: 100px;
    height: 100px;
}

#txt p {
    font-size: 16px;
    margin-top: 10px;
}

#txt p a {
    color: #ffffff;
    background-color: #fc8422;
    border-radius: 10px;
    padding: 5px;
}

#cad {
    color: white;
    padding: 5px;
    border-radius: 10px;
    background-color: #fc8422;
}

label {
    margin: 0;
    margin-right: 50px;
}

.legal p {
    margin-bottom: 20px;
}

select {
    margin: 10px;
    height: 45px;
    width: 200px;
    padding: 12px;
    border-radius: 10px;
    border-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(37, 37, 37, 0.308);
}

#quando {
    margin-right: 75px;
}

#onde {
    margin-right: 120px;
}

#icons {
    width: 64px;
    height: 64px; 
}